.w1{
    color: white;
    padding-top: 20px;
    padding-left: 30px;
}

.w1 a{
    text-decoration: none;
    color: white;   
}

.w1 a:hover{
    text-decoration: none;
    /*//color: white;   */
}

.header {
    width: calc(100%-260px);
    width: -moz-calc(100% - 260px);
    width: -webkit-calc(100% - 260px);
    position:fixed;
    top:0;
    left:260;
    background-color: white;
    z-index:10;
    height: 70px;
    box-shadow: 0px 0.5px 10px #c1c1c1;
}


