
.marLeft10{

}

.courseName{
  font-size: 20px;
}

a.w1{
  text-decoration: none;
  display: block;
  font-weight: 500;
  color: white;
  padding-left: 30px;
  text-decoration: none;
  line-height: 60px;
}

.marTop30{
  margin-top: 45px;
}

.w1 a:hover{
  text-decoration: none;
  /*//color: white; */
}

.formNav a{
  width: 100%;
  flex: 1;
}

.settingForm{
  padding-top: 20px;

}

.settingForm input{
  height: 40px;
  width: 100%;
  padding-left: 10px;
}


.courseCard{
  margin-top: 30px;
  padding: 30px 50px;
  box-shadow: 0px 1px 10px #c1c1c1;

}

.courseCard:hover{
  box-shadow: 0px 0.5px 20px #c1c1c1;
}
.sideBar{
  width: 260px; position: fixed; top:0; left:0;
  height: 100%; background-color: rgb(66, 67, 110);
}

.logoBar{
  width: 100%;
  height: 73px;
  background-color: rgb(38,45,63);
  /* border-bottom: 2px dotted black; */
  overflow: hidden;
}
.logoBar img{
  padding-left: 30px; padding-top: 10px;

}

.logoItem{
  height: 60px;
}

.logoItem span{
  font-size: 26px;
  margin-right: 9px;
  top: 5px;
  left: -3px;
}

.logoItem:hover{
  background-color: rgb(38,45,63);
  border-left: 6px solid rgb(11,156,81);
}
